@model IEnumerable<ComponentesModel> 

@{
    ViewData["Title"] = "Listado de Componentes";
}

<div class="text-center text-white">
<h1 class="display-2">Listado de Componentes</h1>
<a asp-controller="Componente" asp-action="ComponentesAdd" class="btn btn-primary mb-3"> Agregar Componente </a>
</div>

<table class="table text-white">  
<table class="table table-striped">  

    <thead>
<tr>
    <th scope="col">Acciones </th>
    <th scope="col">ID</th>
    <th scope="col">Nombre</th>
    <th scope="col">Descripción</th>
    <th scope="col">Precio</th>
    <th scope="col">Cantidad</th>
</tr>

    </thead>
<tbody>
@foreach(var componente in Model)
{
    <tr>
        <td>
<a class="btn btn-primary" asp-controller="Componente" asp-action="ComponentesEdit" asp-route-id="@componente.Id">Editar</a>
<a class="btn btn-danger" asp-controller="Componente" asp-action="ComponentesDeleted" asp-route-id="@componente.Id">Borrar</a>
        </td>
        <td>
            @componente.Id
        </td>
          <td>
            @componente.Name
        </td>
          <td>
            @componente.Descripcion
        </td>
          <td>
            @componente.Precio
        </td>
          <td>
            @componente.Cantidad
        </td>
    </tr>
}
</tbody>

<tfoot>

</tfoot>
</table>
